/*
Color Scheme
#C7EAE4 - Light Cyan
#442B48 - Purple
#FCBCB8 - Spanish Pink (light)
#EFA7A7 - Pastel Pink (darker)
#FFD972 - Orange Yellow Crayola
*/
body {
    margin: 0 0;
    padding: 0 0;
    font-family: "Roboto", sans-serif;
    background-color: rgb(226, 226, 226);
}

/* pad all elements equally */
body > * {
    padding: 16px 64px;
}

img {
    object-fit: cover;
}

header, footer {
    background-color: #ffd972;
    display: flex;
    align-items: center;
}

footer {
    justify-content: center;
}

.logo {
    font-size: 32px;
    font-weight: 600;
}

.nav {
    list-style: none;
    display: flex;
    gap: 16px;
    flex: 1;
    justify-content: flex-end;
}
.nav a {
    text-decoration: none;
    color: rgb(68, 68, 68);
    flex: 1;
}

.hero, .call-internal {
    background-color: #EFA7A7;
    display: flex;
    gap: 32px;
    align-items: center;
}
.hero {
    padding-top: 64px;
    padding-bottom: 64px;
}
.hero > img {
    width: 100%;
    border: 2px solid #A4508B;
}
.hero-content > p {
    font-size: 12px;
}
button {
    background-color: #A4508B;
    color: white;
    border: 0;
    padding: 8px 16px;
    border-radius: 8px;
}

.infomatic, .call-to-action {
    background-color: rgb(226, 226, 226);
    margin: 64px 0px;
}
.infomatic > h2, .info {
    display: flex;
    font-size: 32px;
    padding-bottom: 64px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}
.card {
    flex: 0 1 auto;
    width: 256px;
    text-align: center;
    font-size: 12px;
}
.card > img {
    border-radius: 16px;
    border: 2px solid #A4508B;
    width: 150px;
    height: 150px;
}


.quote {
    background-color: #c7eae4;
    padding-top: 64px;
    padding-bottom: 64px;
}
.quote > .quote-text {
    font-style: italic;
    color: rgb(68, 68, 68);
}
.quote > .quote-author {
    font-weight: bold;
    text-align: right;
}

.call-internal {
    padding: 32px;
    border-radius: 8px;
}
.call-internal > button {
    width: 160px;
    flex: 0 1 auto;
}
.call-content {
    flex: 1;
}
.call-content > * {
    margin: 0;
}

footer {
    background-color: #FCBCB8;
}